<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Are You?</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="background-image"></div>
        <div class="title">Who are You?</div>
        <div class="sub-title">Click on one of the below options to proceed</div>
        <div class="option-1 option" data-value="hospitals">Continue as Hospitals</div>
        <div class="option-2 option" data-value="research">Continue as Clinical Research Centres</div>
        <button class="continue-button" disabled>Continue</button>
        <div class="circle-1">
            <div class="circle-1-inner"></div>
        </div>
        <div class="circle-2">
            <div class="circle-2-inner"></div>
        </div>
    </div>

    <!-- Link to external JavaScript file -->
    <script src="static/js/script.js"></script>
</body>

</html>
